<article>
  <header>
    <h1><%= @writing[:title] %></h1>

    <p class="post-meta">
    <span class="avatar-text-group">
      By
      <img
          id="avatar-photo"
          src="<%= @writing[:author_avatar_url] %>"
          />
          <%= @writing[:author] %> — <%= @writing[:released_at] %> — <%= @writing[:place] %>
    </span>
    </p>
  </header>

  <%= @content %>
</article>
