<article>
  <header>
    <h1><%= @writing[:title] %></h1>

    <p class="post-meta">
    <span class="avatar-text-group">
      By
      <img
        id="avatar-photo"
        src="<%= @writing[:author_avatar_url] %>"
      />
      <a href="<%= @writing[:author_url] %>" target="_blank"><%= @writing[:author] %></a> — <%= @writing[:released_at] %> — <%= @writing[:place] %>
    </span>
    </p>
  </header>

  <%= @content %>
</article>

<hr class="end" />

<center><a href="/writings.html">Back to writings list.</a></center>
